<div class="row align-items-center mb-3">
  <!-- Student Records Heading -->
  <div class="col-md-4">
    <h1 class="h2">
      <a href="/" class="rec">Student records</a>
    </h1>
  </div>

  <!-- Search Bar -->
  <div class="col-md-4">
    <form class="search" role="search" method="POST" action="/search">
      <input type="search" name="searchTerm" class="form-control form-control-dark w-100 rounded-0 border-0" placeholder="Search..." aria-label="Search">
    </form>
  </div>

  <!-- New Student Button -->
  <div class="col-md-4 text-md-end text-start mt-3 mt-md-0">
    <a href="/add" class="btn btn-sm btn-dark">New Student</a>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">year</th>
        <th scope="col">Registration number</th>
        <th scope="col" class="text-end">Action</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(element => { %>
        <tr class="align-middle">
          <td class="fs-6 fw-medium"><%= element.Name %></td>
          <td class="fs-6 fw-medium"><%= element.year %></td>
          <td class="fs-6 fw-medium"><%= element.reg %></td>
          <td class="text-end">
            <div class="d-flex flex-row justify-content-end gap-2">
              <a href="/view/<%= element._id %>" type="button" class="btn btn-primary btn-small">
                <i class="bi bi-eye"></i>
              </a>
              <a href="/edit/<%= element._id %>" type="button" class="btn btn-success btn-small">
                <i class="bi bi-pencil"></i>
              </a>
              <form action="/edit/<%= element._id %>?_method=DELETE" method="POST" class="position-relative">
                <button type="submit" class="btn btn-danger btn-small">
                  <i class="bi bi-person-x"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>



<% if (students.length > 0) { %>
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>
        <li class="page-item disabled"><a href="#" class="page-link text-light bg-dark">First</a></li>
      <% } else { %>
        <li class="page-item"><a href="/dash/?page=1" class="page-link text-light bg-dark">First</a></li>
      <% } %>

      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
        <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %>

      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item disabled"><a href="#" class="page-link text-light bg-dark"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><a href="/dash/?page=<%= i %>" class="page-link text-light bg-dark"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
      <% } %>

      <% if (current == pages) { %>
        <li class="page-item disabled"><a href="#" class="page-link text-light bg-dark">Last</a></li>
      <% } else { %>
        <li class="page-item"><a href="/dash/?page=<%= pages %>" class="page-link text-light bg-dark">Last</a></li>
      <% } %>
    </ul>
  </nav>  
<% } %>
